.idea/
target/
project/target
Makefile
project/project/
src/test/resources/blured-*
src/test/resources/convolved-*
src/test/resources/equalized-*
src/test/resources/grayscaled-*
src/test/resources/resized-*
src/test/resources/processed*
.ensime
.ensime_cache/
ensime-langserver.log
pc.stdout.log
